body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Change this to your desired body background color */
}

header {
    background-color: white; /* Change this to your desired header background color */
    color: black;
    text-align: center;
    padding: 10px;
}

#temperature-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 40px;
}

.temperature-box {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0; /* Adjust the background color */
    border: 8px solid white;
    border-radius: 20px; /* Adjust the border-radius as needed for the soft UI effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 30px rgba(163, 177, 198, 1), -10px -10px 30px rgba(255, 255, 255, 0.5); /* Adjust the box-shadow for the soft UI effect */
}

.temperature-box:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 30px rgba(163, 177, 198, 1), -10px -10px 30px rgba(255, 255, 255, 0.8);
}

.temp-value {
    font-size: 40px;
    font-weight: bold;
}

.temp-label {
    margin-top: 5px;
}

.temp-input {
    width: 50px;
    text-align: center;
}
